.button {
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.criterions_box {
    height: 70vh;
    overflow-y: scroll;
    padding: 20px;
    border: var(--border-common);
    border-radius: var(--border-radius-s);
}