@value border: var(--border-common);
@value radius: var(--border-radius-xs);
.box {
    position: relative;
    margin: 10px;
    font-size: inherit;
    display: flex;
    align-items: flex-start;
}

.label {
    margin-right: 1rem;
    flex-basis: 20%;
}

.input {
    font-size: inherit;
    font-family: inherit;
    border: border;
    border-radius: radius;
    padding: 1rem 2rem 1rem 1rem;
    flex-grow: 1;
    cursor: pointer;
}