.modal {
    width: 40%;
    margin: auto;
    inset: unset;
    position: relative;
    margin-top: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.modal__title {
    text-align: center;
}

.modal__label {
    margin-right: 30px;
}

.modal__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal__boxButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__input {
    font-family: 'Montserrat';
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

.modal__button {
    font-family: 'Montserrat';
    margin-right: 10px;
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

.modal__button:hover {
    background-color: black;
    color: white;
}

.modal__select {
    flex: 1;
}

.modal__select div {
    /* border-color: black; */
}

.modal__select div:hover {
    /* border-color: black; */
}